body {
	background: #F2F2F2 url("img/g22.png") repeat-y left;
	color: #F2F2F2;
	font-size: 13px;
	font-family: Arial, Verdana;
	margin: 0px 0px 100px 90px;
}

div.rib {
	width: 160px;
	padding:10px 0px 10px 0px;
	float: left;
}

div.rib a {
	color: #FFF;
	font-family: Verdana, Courier New, Arial, Helvetica;
	font-size: 11px;
}
div.rib div.logo {
	width: 177px;
	height: 14px;
	padding: 4px 10px 2px 0px;
	background-color: #165266;
	text-align: right;
	margin-top: 5px;
	margin-left: -31px;
}


div.rib div.nav {
	width: 177px;
	height: 14px;
	padding: 4px 10px 2px 0px;
	background-color: #165266;
	text-align: right;
	margin-top: 5px;
	margin-left: -31px;
}

div.rib div.stats {
        padding: 4px 10px 2px 0px;
        text-align: right;
        margin-top: 5px;
        margin-left: -31px;
}

img.a {
	margin-bottom: 50px;
}

div.rib div.nav:hover {
	background-color: #F2F2F2;
}

div.top {
	height: 17px;
	padding: 6px 2px 2px 30px;
	color: #F2F2F2;
	font-size: 11px;
	background-repeat: repeat-x;
	background-color: #F2F2F2;
	margin-left: 150px;
	font-family: Verdana, Courier New, Arial, Helvetica;
}

span.right {
	float: right;
	margin-right: 10px;
}

h1 {
	margin-top: 20px;
	color: #33BEEC;
	font-size: 6px;
	font-weight: normal;
	max-width: 530px;
}

div.main {
	margin: 0px 8px 40px 180px;
	float: left;
	max-width: 790px;
	position: absolute;
}

div.main p {
	max-width: 700px;
}

span.purple {
	color: #6132E7;
}
span.mustafar {
	color: #C0392B ;
}
span.dagobah {
	color: #27AE60;
}
span.naboo {
	color: #2980B9;
}
span.endor {
	color: #76D7C4;
}
span.tatooine {
	color: #F9E79F;
}

div.button {
	height: 40px;
	width: 320px;
	background: #34BEED url("img/button.png") repeat-y right;
	padding: 4px 10px 15px 10px;
	color: #FFF;
	font-size: 22px;
	margin: 10px 0px 30px 0px;
}

div.shell {
	background: #020607;
	padding: 0px 0px 0px 0px;
	width: 350px;
	color: #FFF;
	line-height: 8px;
	font-size:8px;
	font-family: Courier, Arial, Helvetica;
}

div.shell li {
	margin-left: -15px;
	max-width: 400px;
}

div.button:hover {
	background-color: #6132E7;
}

a {
	text-decoration: none;
	color: rgba(97, 50, 231, 1);
}

a:hover {
	text-decoration: underline;
}

div.rib a:hover {
	text-decoration: none;
}

h2 {
	font-weight: normal;
}

span.qa {
	font-weight: bold;
	color: #FFF;
}

#twitter_update_list {
	width: 320px;
	font-size: 12px;
	padding-top: 10px;
	margin-top: -0px;
}

#twitter_update_list li {
	border: 1px dashed rgba(97, 50, 231, 1);
	list-style: none;
	margin: 0px 0px 15px -38px;
	padding: 5px;
	color: #33BEEC;
}

li {
	list-style: square;
	line-height: 22px;
	margin: 0px 0px 0px 15px;
}

div.rules {
	padding: 10px;
	color: #FFF;
	background-color: rgba(52, 190, 237, 0.9);
	font-weight: bold;
}

a.button:hover {
	text-decoration: none;
}

div.prime, div.prime2 {
	background-color: #111;
	border: 1px solid #222;
	width: 280px;
	padding: 0px 10px 10px 10px;
	float: left;
}

div.prime li, div.prime2 li {
	margin-left: 10px;
}

div.prime2 {
	margin: 0px 0px 0px 10px;
}

div.prime p {
	width: 100%;
}

input.subs {
	margin: 5px 0px 0px 3px;
}

input.username {
	border: 1px solid #34BEED;
	background-color: #06151A;
	color: #34BEED;
	font-weight: bold;
	width: 139px;
	font-size: 11px;
}

p.position {
	margin-top: -15px;
	margin-bottom: -7px;
}

h3 {
	margin-bottom: -10px;
}

p {
	line-height: 20px;
}

div.donate {
	float: left;
	margin-top: 10px;
}

div.spacer {
	height: 30px;
	width: 100px;
	background-color: #fff;
}

div.container {
	float: left;
	margin-top: 9px;
	margin-right: 25px;
}

span.tweets {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 16px;
}	
div.tweets {
	margin-top: -20px;
	float: left;
}
img a, a img {
	border: none;
}

